p {color: purple;}
p {background: pink;}
p{height: 15vh}
p {padding-top: 50}
p {padding-left: 30}
p{width: 50vh;}

#gato {border: 8px dashed green}
#gato {height: 59vh}
#gato {border-radius: 100vh;}
#gato {border-start-start-radius: 100px;}
#gato {border-style: dotted;}
