.test-div {
background: pink;
padding: 20px;
margin: 20px;
}
h1, h2, h3, h4, 
.test-div:hover {background: purple;}
button {font-family: 'Times New Roman';} 
h2 {background: peachpuff; width: 90px;}
button.special {background-color: yellow;}
h2:hover {background-color: red;}
p {color: darkblue;}
h2 {font-family: Arial, Helvetica, sans-serif;}

#house {display: flex; flex-wrap: wrap;}